@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.light{
    --primary: rgb(250, 250, 250);
    --secondary: rgb(255, 255, 255);
    --border: rgba(202, 202, 202, 0.518);
    --title: rgb(39 39 42);
    --subtitle: rgb(82 82 91);
    --bgheader: rgb(253, 253, 253);
    --blue: rgb(0, 149, 246);
    --icon-hover: #333;
  }
.main{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    
}
/* side bar filteration */
.filteration{
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filteration button{
      background-color: rgba(36,37,41,1);
      padding: 10px 22px;
      text-align: center;
      border-radius:12px ;
      -webkit-border-radius:12px ;
      -moz-border-radius:12px ;
      -ms-border-radius:12px ;
      -o-border-radius:12px ;
      transition: var(--transition);
      -webkit-transition: var(--transition);
      -moz-transition: var(--transition);
      -ms-transition: var(--transition);
      -o-transition: var(--transition);
      opacity: .7;
}
.filteration button:hover{
    scale: 1.1;
}
button.active{
    opacity: 1;
    font-weight: 500;
    letter-spacing: 2px;
    border: 1px solid var(--blue);
}
:global(.light) .filteration button,
:global(.light)  button:active,
:global(.light) .filteration button:hover{
    border: none;
 }
/* projects */
.projects{
    width: 80%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)) ;
     gap:.9rem ;
}

.projects .card{
    position: relative;
    background-image: linear-gradient(rgba(255,255,255,.05),rgba(255,255,255,.05));
    border: 1px  solid rgba(93,188,252,.3);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.projects .card:hover{
    border: 1px  solid var(--blue);
    rotate: 2deg;
    scale: 1.01;
}
:global(.light) .projects .card,
:global(.light) .projects .card:hover{
    border: none !important;
    box-shadow: 2px 1px 1px rgba(0,0,0,.2) , -2px 1px 1px rgba(0,0,0,.2) ;
}
:global(.light) .projects .card:hover{
    background-color: rgb(248, 248, 248);
}
.projects .card img{
    height: 150px;
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.projects .card .text{
 padding: 1rem .4rem;
 min-height: 150px;
 margin-bottom: 1rem;
}
.projects .card .text .title{
 color: var(--title);
}
.projects .card .text .subtitle{
    color: var(--subtitle);
    font-size: .8rem;
    margin-top: .7rem;
}
.projects .card .icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .4rem .5rem;
    position: absolute;
    bottom: 0;
    margin-top: 2rem;
}
.projects .card .icons a{
 font-size: 1.2rem;
 color: var(--subtitle);
 transition: var(--transition);
 -webkit-transition: var(--transition);
 -moz-transition: var(--transition);
 -ms-transition: var(--transition);
 -o-transition: var(--transition);
}
.projects .card .icons a:hover{
    scale: 1.1;
    color: var(--icon-hover);
}
.projects .card .copyLink{
    background-color: var(--subtitle);
    padding: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    bottom: 35px;
    animation: showLinkCopyMessage 3s 1;
    -webkit-animation: showLinkCopyMessage 3s 1;
}

/* media query for filteration&projects */
@media screen and (max-width:1150px) {
    .filteration{
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .projects{
        width: 100%;
    }
}
/* animation */
@keyframes  showLinkCopyMessage {
    0%{
        scale: 0;
    }
    50%{
        scale: .9;
    }
    70%{
        scale: 1;
    }
 85%{
    scale: .5;
 }
 100%{
    scale: 0;
 }


}